INSERT INTO [dbo].[prices]             ([priceid]             ,[t1]             ,[t1m]             ,[t2]             ,[t2m]             ,[t3]             ,[t3m]             ,[t4]             ,[t4m]             ,[t5]             ,[t5m])       VALUES             (6,0.410058,0.45562,0.068343,0.113905,1.93638,0.113905,5.94584,7.17601,22.3026,22.8949)
SELECT TOP 1000 [priceid]
      ,[t1]
      ,[t1m]
      ,[t2]
      ,[t2m]
      ,[t3]
      ,[t3m]
      ,[t4]
      ,[t4m]
      ,[t5]
      ,[t5m]
  FROM [silPolygons].[dbo].[prices]